.App {
  text-align: center;
  display:flex;
  align-items:column;
  justify-content: center;
  flex-direction:row;
}


.xmastree {
  height:85vh;
}

.decorations {
  height:10vh;
}

.decorationsbox {
  height:100vh;
  width:100vw;
}
